<div class="centered-content">
  <div class="task-manager-content">
    <div class="sidebar has-background-white">
      <h1 class="title has-tetx-primary">
        LİSTE
      </h1>
      <div class="list-menu">
        <a class="list-menu-item is-active">
          <p>List item #1</p>
        </a>
        <a class="list-menu-item">
          <p>List item #2</p>
        </a>
        <a class="list-menu-item">
          <p>List item #3</p>
        </a>
      </div>
      <button class="button is-primary has-text-white">
        + Yeni Liste
      </button>
    </div>
    <div class="task-list-container has-background-light">
      <h1 class="title has-tetx-primary">
        Görevler
      </h1>

      <!-- Görev listesi -->
      <div class="task">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet
          consectetur adipiscing elit ut aliquam purus sit amet.
        </p>
      </div>
      <div class="task complete">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet
          consectetur adipiscing elit ut aliquam purus sit amet.
        </p>
      </div>
    </div>
  </div>
</div>
