<div class="centered-content">
  <div class="task-manager-content">
    <div class="sidebar has-background-grey-lighter">
      <h1 class="title has-text-primary">
        LİSTE
      </h1>
      <div class="list-menu">
        <a
          class="list-menu-item is-active"
          *ngFor="let item of lists"
          [routerLink]="['/lists', item.taskListId]"
          routerLinkActive="is-active"
        >
          <p>{{ item.title }}</p>
        </a>
      </div>
      <button class="button is-primary has-text-white" routerLink="/new-list">
        + Yeni Liste
      </button>
    </div>
    <div class="task-list-container has-background-light">

  <div class="top-bar">
    <h1 class="title has-text-primary">
      Görevler
    </h1>
    <div class="buttons has-addons is-right" *ngIf="this.listId">
      <button class="button is-primary has-text-white"  routerLink="./new-task"><span class="fa fa-plus"></span></button>
      <button class="button is-danger has-text-white" (click)="deleteTaskLists()"><span class="fa fa-trash"></span></button>
    </div>
  </div>


      <!-- Görev listesi -->
      <div

      [ngClass]="task.completed === true ? 'task completed' : 'task'"
        *ngFor="let task of tasks"

      >
        <p class="task-text">
          {{ task.description }}
        </p>
        <div class="buttons has-addons is-right">
          <button class="button is-success has-text-white is-small"  (click)="completeTask(task)">
            <span class="fa fa-check"></span>
          </button>
          <button class="button is-danger has-text-white is-small" (click)="deleteTask(task)">
            <span class="fa fa-eraser"></span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<simple-notifications></simple-notifications>