<div class="centered-content">
  <div class="task-manager-content">
    <div class="sidebar has-background-grey-lighter">
      <h1 class="title has-text-primary">
        LİSTE
      </h1>
      <div class="list-menu">
        <a
          class="list-menu-item is-active"
          *ngFor="let item of lists"
          [routerLink]="['/lists', item.taskListId]"
          routerLinkActive="is-active"
        >
          <p>{{ item.title }}</p>
        </a>
      </div>
      <button class="button is-primary has-text-white" routerLink="/new-list">
        + Yeni Liste
      </button>
    </div>
    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Görevler
      </h1>

      <!-- Görev listesi -->
      <div class="task" *ngFor="let task of tasks">
        <p>
       {{task.description}}
        </p>
      </div>
    </div>
  </div>
</div>
