<form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
      <label style="color: white;">İsim</label>
      <input class="form-control"
      formControlName="UserName">
      <label class="text-danger"
      *ngIf="formModel.get('UserName').touched &&
      formModel.get('UserName').errors?.required">Bu alan zorunludur.</label>
    </div>
    <div class="form-group">
      <label style="color: white;">Email</label>
      <input class="form-control" formControlName="Email">
      <label class="text-danger"
      *ngIf="formModel.get('Email').touched &&
      formModel.get('Email').errors?.email">Belirsiz email formatı.</label>
    </div>
    <div class="form-group">
      <label style="color: white;">Full Name</label>
      <input class="form-control" formControlName="FullName">
    </div>
    <div formGroupName="Passwords">
      <div class="form-group required">
        <label style="color: white;">Password</label>
        <input type="password" class="form-control" formControlName="Password">
        <label class="text-danger" *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.required">Bu alan zorunludur.</label>
        <label class="text-danger" *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.minlength">En az 4 karakter olmalıdır.</label>
      </div>
      <div class="form-group required">
        <label style="color: white;">Parola tekrarlayınız..</label>
        <input type="password" class="form-control" formControlName="ConfirmPassword">
        <label class="text-danger"
        *ngIf="formModel.get('Passwords.ConfirmPassword').touched &&
        formModel.get('Passwords.ConfirmPassword').errors?.required">Bu alan zorunludur.</label>
        <label class="text-danger"
        *ngIf="formModel.get('Passwords.ConfirmPassword').touched &&
        formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Parola eşleşmesi başarısız.</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button style="color: white;" type="submit" class="btn btn-outline-dark btn-lg btn-block"
        [disabled]="!formModel.valid">Kaydol</button>
      </div>
    </div>
  </form>