form.normal-form {
  margin: 10px;
}
.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
  }
.add-bottom-padding {
  padding-bottom: 10px;
}
mat-radio-group
mat-radio-button {
  margin-left: 5px;
}
.button-row button {
  margin: 5px;
}
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}