<form>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input
            type="number"
            style="width: 100px;"
            class="input"
            placeholder="Harcama Miktarı"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input
            type="text"
            class="input"
            placeholder="Açıklama"
          />
        </p>
      </div>
      <div class="field is-narrow">
        <button class="button is-primary">
          Ekle
        </button>
      </div>
    </div>
  </div>
</form>
