<form #budgetForm="ngForm" (ngSubmit)="onSubmit(budgetForm)">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input
          name="amount"
          required
            type="number"
            style="width: 100px;"
            class="input"
            placeholder="Harcama Miktarı"
            [ngModel]="item.amount"
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input
          name="description"
          required
            type="text"
            class="input"
            placeholder="Açıklama"
            [ngModel]="item.description"
          />
        </p>
      </div>
      <div class="field is-narrow">
        <button type="submit" [disabled]="!budgetForm.valid"
        [ngClass]="{'is-primary':isNewItem,'is-success':!isNewItem}"
        class="button is-primary">
          <p *ngIf="isNewItem">Ekle</p>
          <p *ngIf="!isNewItem">Düzenle</p>
        </button>
      </div>
    </div>
  </div>
</form>
