<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Nisanur BULUT</h2>
      <h4>nisanurbulutnb@gmail.com</h4>
    </div>
    <img
      src="https://avatars0.githubusercontent.com/u/9026717?s=460&u=3bb369e435a5d30ca1c1de5a7efd44febe661693&v=4"
      alt="Nisanur BULUT"
    />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Sayfalar</h2>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"
    >Dashboard</a
  >
  <a mat-list-item routerLink="/tasks" routerLinkActive="list-item-active"
    >Görevler</a
  >
  <a
    mat-list-item
    routerLink="/user/operations"
    routerLinkActive="list-item-active"
    >Kullanıcı İşlemleri</a
  >
  <a
    mat-list-item
    routerLink="/bank/operations"
    routerLinkActive="list-item-active"
    >Banka İşlemleri</a
  >
  <a mat-list-item routerLink="/bankAccount" routerLinkActive="list-item-active"
    >Hesap İşlemleri</a
  >
  <a mat-list-item routerLink="/budgetMain" routerLinkActive="list-item-active"
    >Bütçe İşlemleri</a
  >
  <mat-divider></mat-divider>
  <h2 matSubheader>Eklentiler</h2>
  <a mat-list-item routerLink="/contacts" routerLinkActive="list-item-active">
    <mat-icon>import_contacts</mat-icon> Rehber</a
  >
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
    <mat-icon>contact_phone</mat-icon> İletişim</a
  >
  <a mat-list-item routerLink="/posts" routerLinkActive="list-item-active">
    <mat-icon>post_add</mat-icon> Gönderiler</a
  >
</mat-nav-list>
