<blockquote class="blockquote 5">
    <h2></h2>
    <footer class="blockquote-footer">
      <i> Banka Bilgileri </i>
    </footer>
  </blockquote>

  <div class="grid-table">
    <div class="thead">
      <div class="tr">
        <div class="td">Banka ID</div>
        <div class="td">Banka Bilgisi</div>
        <div class="td">
          <button class="btn btn-sm btn-outline-success">
            <i class="fa fa-plus"></i> Ekle
          </button>
        </div>
        <div class="td"></div>
      </div>
    </div>
    <div class="tbody">
      <form>
        <div class="td">
          <input class="form-control" formControlName="" />
        </div>
        <div class="td">
          <input class="form-control" formControlName="" />
        </div>
        <div class="td">
          <button type="submit" [ngClass]="">
            <i class="far fa-save fa-lg"></i>
          </button>
        </div>
        <div class="td">
          <button class="btn btn-sm btn-default ml-1">
            <i class="far fa-trash-alt fa-lg text-danger"></i>
          </button>
        </div>
      </form>
    </div>
  </div>