<blockquote class="blockquote 5">
    <h2></h2>
    <footer class="blockquote-footer">
      <i> Kullanıcı Hesap Bilgileri </i>
    </footer>
  </blockquote>
  <div class="grid-table">
    <div class="thead">
      <div class="tr">
        <div class="td">UserID</div>
        <div class="td">İsim</div>
        <div class="td">Soyisim</div>
        <div class="td">Parola</div>
        <div class="td">
          <button class="btn btn-sm btn-outline-success" (click)="AddUserForm()">
            <i class="fa fa-plus"></i> Ekle
          </button> </div>
        <div class="td" style="width: 175px;">
          <span *ngIf="notification" class="elementToFadeInAndOut">
            <i class="fas fa-check-circle {{ notification.class }}"></i> {{notification.message}}
          </span>
        </div>
      </div>
    </div>
    <div class="tbody">
      <form
        class="tr"
        [formGroup]="fg"
        *ngFor="let fg of userForms.controls; let i = index"
        (submit)="recordSubmit(fg)"
      >
        <div class="td">
          <input class="form-control disabled" formControlName="userID" />
        </div>
        <div class="td">
          <input class="form-control" formControlName="name" />
        </div>
        <div class="td">
          <input class="form-control" formControlName="surname" />
        </div>
        <div class="td">
            <input class="form-control" formControlName="password" />
          </div>
        <div class="td">
          <button
            type="submit"
            [ngClass]="
              fg.get('userID').value == 0
                ? 'btn btn-sm btn-success'
                : 'btn btn-sm btn-outline-dark'
            "
            [disabled]="fg.invalid"
          >
            <i class="far fa-save fa-lg"></i>
            {{ fg.get("userID").value == 0 ? "Kaydet" : "Güncelle" }}
          </button>
        </div>
        <div class="td">
          <button
            class="btn btn-sm btn-default ml-1"
            (click)="deleteUser(fg.get('userID').value, i)"
          >
            <i class="far fa-trash-alt fa-lg text-danger"></i>
          </button>
        </div>
      </form>
    </div>
  </div>