<blockquote class="blockquote ml-5">
    <h2>Banka Hesap Bilgileri</h2>
    <footer class="blockquote-footer">
       <i> Angular 8</i> ve <i>.Net Core</i> ile tablo üzerinden veri düzenleme
    </footer>
</blockquote>
<div class="grid-table">
  <div class="thead">
    <div class="tr">
      <div class="td">Hesap No</div>
      <div class="td">Hesap Sahibi</div>
      <div class="td">Banka</div>
      <div class="td">IFSC</div>
    </div>
  </div>
  <div class="tbody">
    <form class="tr" [formGroup]="fg" *ngFor="let fg of bankAccountForms.controls">
      <div class="td">
        <input
          class="form-control"
          formControlName="accountNumber"
        />
      </div>
      <div class="td">
        <input
          class="form-control"
          formControlName="accountHolder"
        />
      </div>
      <div class="td">
        <select
          class="form-control"
          formControlName="bankId">
          <option value="0">Seçiniz...</option>
          <option *ngFor="let item of bankList">{{item.bankName}}</option></select>
      </div>
      <div class="td">
        <input
          class="form-control"
          formControlName="IFSC"
        />
      </div>
    </form>
  </div>
</div>
