<blockquote class="blockquote 5">
  <footer class="blockquote-footer">
    <i> Banka Hesap Bilgileri </i>
  </footer>
</blockquote>
<div class="grid-table">
  <div class="thead">
    <div class="tr">
      <div class="td">Hesap No</div>
      <div class="td">Hesap Sahibi</div>
      <div class="td">Banka</div>
      <div class="td">IFSC</div>
      <div class="td">
        <button class="btn btn-sm btn-outline-success" (click)="AddBankAccountForm()">
          <i class="fa fa-plus"></i> Ekle
        </button> </div>
      <div class="td" style="width: 175px;">
        <span *ngIf="notification" class="elementToFadeInAndOut">
          <i class="fas fa-check-circle {{ notification.class }}"></i> {{notification.message}}
        </span>
      </div>
    </div>
  </div>
  <div class="tbody">
    <form
      class="tr"
      [formGroup]="fg"
      *ngFor="let fg of bankAccountForms.controls; let i = index"
      (submit)="recordSubmit(fg)"
    >
      <div class="td">
        <input class="form-control" formControlName="AccountNumber" />
      </div>
      <div class="td">
        <select class="form-control" formControlName="userID">
          <option value="0">Seçiniz...</option>
          <option *ngFor="let item of userList" [ngValue]="item.userID">{{
            item.name+" "+item.surname
          }}</option></select
        >
      </div>
      <div class="td">
        <select class="form-control" formControlName="BankID">
          <option value="0">Seçiniz...</option>
          <option *ngFor="let item of bankList" [ngValue]="item.bankID">{{
            item.bankName
          }}</option></select
        >
      </div>
      <div class="td">
        <input class="form-control" formControlName="IFSC" />
      </div>
      <div class="td">
        <button
          type="submit"
          [ngClass]="
            fg.get('BankAccountID').value == 0
              ? 'btn btn-sm btn-success'
              : 'btn btn-sm btn-outline-dark'
          "
          [disabled]="fg.invalid"
        >
          <i class="far fa-save fa-lg"></i>
          {{ fg.get("BankAccountID").value == 0 ? "Kaydet" : "Güncelle" }}
        </button>
      </div>
      <div class="td">
        <button
          class="btn btn-sm btn-default ml-1"
          (click)="deleteBankAccount(fg.get('BankAccountID').value, i)"
        >
          <i class="far fa-trash-alt fa-lg text-danger"></i>
        </button>
      </div>
    </form>
  </div>
</div>