<blockquote class="blockquote 5">
  <footer class="blockquote-footer">
    <i> Bütçe İşlemleri </i>
  </footer>
</blockquote>
<div class="top-bar">
  <h1>Bütçe Hesaplayıcı</h1>
</div>
<section class="total-budget-section">
  <h2 [ngClass]="{'red':totalBudget<0, 'green':totalBudget>=0}">{{this.totalBudget}}</h2>
</section>
<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item-form style="padding:20px;"
    (submitForm)="addItem($event)"
    ></app-add-item-form>
  </div>
</section>
<hr style="margin-top: 0;">
<app-budget-item-list
[budgetItems]="budgetItems"
(onDeleteBudgetItem)="deleteItem($event)"
(onUpdateBudgetItem)="updateItem($event)"></app-budget-item-list>