<h1 class="rating-num">{{toplamPuan}}</h1>
<div>
              <span class="fa-lg" (click)="oyVer(1)">
              <i class="fa fa-star"></i>
              </span><span class="fa-lg" (click)="oyVer(2)">
              <i class="fa fa-star"></i>
              </span><span class="fa-lg" (click)="oyVer(3)">
              <i class="fa fa-star"></i>
              </span><span class="fa-lg" (click)="oyVer(4)">
              <i class="fa fa-star"></i>
              </span><span class="fa-lg" (click)="oyVer(5)">
              <i class="fa fa-star-o"></i>
              </span>
</div>
<div>
  <p></p>
  <span class="fa fa-user"></span>{{kisiSayisi}}
</div>