<div class="mat-elevation-z8">
  <mat-table *ngIf="listData" [dataSource]="listData">
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef>İsim</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fullName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Mobile">
      <mat-header-cell *matHeaderCellDef>Telefon No</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.mobile }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="City">
      <mat-header-cell *matHeaderCellDef>Şehir</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.city }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Department">
      <mat-header-cell *matHeaderCellDef>Bölüm</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.department }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Gender">
      <mat-header-cell *matHeaderCellDef>Cinsiyet</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="IsPermanent">
      <mat-header-cell *matHeaderCellDef>Çalışma Durumu</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.isPermanent }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Birthday">
      <mat-header-cell *matHeaderCellDef>Doğum Günü</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.birthday }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Tablo Yükleniyor...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Veri bulunumadı :(
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ 'hide': listData != null }"
    ></mat-footer-row>
    <mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{ 'hide': !(listData != null && listData.data.length === 0) }"
    ></mat-footer-row>
  </mat-table>
</div>
