<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input
      matInput
      autocomplete="off"
      placeholder="Ara"
      [(ngModel)]="searchKey"
      (keyup)="applyfilter()"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Temizle"
      *ngIf="searchKey"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table  [dataSource]="listData" matSort>
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>İsim</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fullName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Telefon No</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.mobile }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Şehir</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.city }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Cinsiyet</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="isPermanent">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Çalışma Durumu</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.isPermanent }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Doğum Günü</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.birthday }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="onEdit(row)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Tablo Yükleniyor...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Veri bulunumadı :(
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ hide: listData != null }"
    ></mat-footer-row>
    <mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{ hide: !(listData != null && listData.data.length === 0) }"
    ></mat-footer-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</div>
