<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link"
          routerLink='/user/operations'
          routerLinkActive="active">Kullanıcı İşlemleri</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="bank/operations"
            routerLinkActive="active">
              Banka İşlemleri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
              routerLink='/bankAccount' routerLinkActive="active">
              Hesap İşlemleri</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Banka-Hesap
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"
            routerLink='/user/operations'
            routerLinkActive="active">Kullanıcı İşlemleri</a>
            <a class="dropdown-item"
              routerLink='/bankAccount' routerLinkActive="active">
              Hesap İşlemleri</a>
            <a class="dropdown-item"  routerLink='/bank' routerLinkActive="active">Banka İşlemleri</a>
          </div>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Ara..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
      </form>
    </div>
  </nav>
