<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/"><mat-icon>gesture</mat-icon></span>
      <!-- <div fxFlex fxLayout="row" fxLayoutGap="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <li>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button>
              <mat-icon>help-outline</mat-icon>
            </button>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <mat-icon>exit_to_app</mat-icon>
              Oturum Kapat
            </mat-menu>
          </li>
        </ul>
      </div> -->
    </mat-toolbar-row>
  </mat-toolbar>