 <blockquote class="blockquote 5">
    <h2></h2>
    <footer class="blockquote-footer">
      <i> Banka Bilgileri </i>
    </footer>
  </blockquote>
  <div class="row">
    <div class="col-md-10">
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="td" style="width: 5%;">Banka ID</div>
            <div class="td" style="width: 20%;">Banka İsim</div>
            <div class="td" style="width: 60%;">Açıklama</div>
            <div class="td" style="width: 5%;">
              <button class="btn btn-xs btn-outline-success" (click)="addBank()">
                <i class="fa fa-pencil-ruler"></i>
              </button>
            </div>
            <div class="td" style="width: 5%;">
            </div>
            <div class="td" style="width: 5%;"></div>
          </div>
        </div>
        <div class="tbody">
          <form
            class="tr"
            [formGroup]="fg"
            *ngFor="let fg of bankForms.controls; let i = index"
            (submit)="recordSubmit(fg)"
          >
            <div class="td">
              <input class="form-control" formControlName="bankID" />
            </div>
            <div class="td">
              <input class="form-control" formControlName="bankName" />
            </div>
            <div class="td">
              <textarea class="form-control" formControlName="Aciklama"></textarea>
            </div>
            <div class="td">
              <button
                type="submit"
                [ngClass]="
                  fg.get('bankID').value == 0
                    ? 'btn btn-sm btn-success'
                    : 'btn btn-sm btn-outline-dark'
                "
                [disabled]="fg.invalid"
              >
                <i [ngClass]="fg.get('bankID').value != 0 ? 'far fa-edit fa-lg' : 'far fa-save fa-lg'"></i>
              </button>
            </div>
            <div class="td">
              <button class="btn btn-xs btn-default ml-1"
                (click)="deleteBank(fg.get('bankID').value, i)">
                <i class="far fa-trash-alt fa-lg text-danger"></i>
              </button>
            </div>
            <div class="td">
              <a href="bank/degerlendirme/{{fg.get('bankID').value}}">
                    <i class="far fa-star fa-lg text-warning"></i>
                  </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <span *ngIf="notification" class="elementToFadeInAndOut">
        <i class="fas fa-check-circle {{ notification.class }}"></i>
        {{notification.message}}
      </span>
    </div>
  </div>